<h1>BolsaEmpleo#index</h1>
<p>Find me in app/views/bolsa_empleo/index.html.erb</p>


<p>Usuario empresa: empresa@gmail.com</p>
<p>Contraseña empresa: 123456</p>

<%= link_to "Soy empresa", "/user_empresas/sign_in" %>
<%= link_to "Soy persona natural", "/user_personas/sign_in" %>
